/* css/styles.css */

/* Custom Scrollbar */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #112117; }
::-webkit-scrollbar-thumb { background: #2a3630; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #36e27b; }

/* Font settings cho Icon */
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* Ẩn thanh cuộn ngang trong filter buttons */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}